= render template:"main/_menu"
#ProjectsAndList.column.span-9.colborder
  #projects
    = render template: 'project/_project'
  #tasksList
    = render template: 'list/_list'
#tasks.prepend-1.column.span-13.last
  =render template: 'tasks/_tasks'
