<div id="header">
<h1>Todo list</h1>
</div>

<div id="content">
	<div id="projects">
		<h2>Projects:</h2>
	</div>
	<div id="tasks">
		<h3>Tasks:</h3>
	</div>
</div>

<div id="footer">
<span>made by Evgeniy aka Fantaz1 Zabolotniy</span>
</div>