%form#new-list{name:"list"}
  %input#list_name{name:"name", type:"text", placeholder:"Task list name"}
  %input#list_description{name:"description", type:"text", placeholder:"description"}
  %br
  %input{type:"submit", value:"Add"}
%a{href:"#/lists/index"} Back
