<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Description:</b>
  <%= description %>
</p>

<p>
  <b>State:</b>
  <%= state %>
</p>

<p>
  <b>Priority:</b>
  <%= priority %>
</p>


<a href="#/index">Back</a>