<h3 class="alt">Projects:</h3>	
<hr class="clear"/>
<% for p in current_user.projects %>
	<% className = " "%>
	<% if !current_project.nil? && current_project.id == p.id %>
		<% className="success"%>
	<% else %>
		<% className="info" %>
	<% end %>		
	<div id="project<%=p.id%>"  >
		<div class=<%=className%>>
			<%= link_to p.name, "#{p.id}/openProject", :method => "post" %>
		</div>
	</div>	
<% end %>
<div id="foreign_project">
	<%= link_to p.name, "#{p.id}/openProject", :method => "post" %>
</div>
