/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.tabs{
margin:0;
border:none;
}


.cAlign{
margin:0 auto;
text-align:center;
}
.showgrid {background:url("grid.png");}

.success, .info{
padding:5px;
}

.success:hover, .info:hover{
-webkit-box-shadow:0 0 5px rgba(0,0,0,0.6);

}
#signinDiv label, #signupScreen label{
font-weight:normal;
}

html,body{
margin:0;
padding:0;
}

a{
content:none;
}

#desc{
color:gray;
font-size:12px;

}


#notice{
color:green;

}

.lifted p {
        font-size:16px;
        font-weight:bold;
}
 
.lifted {
        position:relative;
        padding:1em;
        width:40%;  
        margin:2em 10px 4em;
        background:#fff;
        border-radius:4px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(36, 74, 171, 0.5), 0 0 40px rgba(35, 173, 173, 0.1) inset;
        -moz-border-radius:4px;
 
}
 
.lifted:before,
.lifted:after {
        content:"";
        position:absolute;
        z-index:-2;
        bottom:15px;
        left:10px;
        width:50%;
        height:20%;
        max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
       -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
       -moz-transform:rotate(-3deg);
        -ms-transform:rotate(-3deg);
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}
 
.lifted:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(3deg);
       -moz-transform:rotate(3deg);
        -ms-transform:rotate(3deg);
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}

//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.curved-hz-1 {
    position:relative;
    width:40%;
    padding:1em;
    margin:2em 10px 4em;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
 
.curved-hz-1:before,
.curved-hz-1:after {
    content:"";
    position:absolute;
    z-index:-2;
}
 
.curved-hz-1:before {
    top:50%;
    bottom:0px;
    left:10px;
    right:10px;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
       -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
            box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-border-radius:100px / 10px;
         border-radius:100px / 10px;
}
 
.curved-hz-1 p {
    font-size:16px;
    font-weight:bold;
} 

#headerDiv {
	text-align: center;
	text-shadow: 1px 1px 2px #555;
	font-weight: bold;
	vertical-align:middle;
	font: auto Tahoma, Helvetica, Arial, Sans-Serif;
  font-family: 'Open Sans', sans-serif;
  font-size:20px;
	letter-spacing: 4px;
  background-color:#567bb3;
  width:250px;
  text-decoration:none;
  color:#fff;
  margin:0 auto 40px;
  padding-bottom:10px;
  padding-top:10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: inset 0px 1px 0px #52719e, 0px 5px 0px 0px #1c4480, 0px 10px 5px #999;
  background-image: linear-gradient(bottom, rgb(86,123,179) 100%, rgb(100,129,173) 61%);
  background-image: -o-linear-gradient(bottom, rgb(86,123,179) 100%, rgb(100,129,173) 61%);
  background-image: -moz-linear-gradient(bottom, rgb(86,123,179) 100%, rgb(100,129,173) 61%);
  background-image: -webkit-linear-gradient(bottom, rgb(86,123,179) 100%, rgb(100,129,173) 61%);
  background-image: -ms-linear-gradient(bottom, rgb(86,123,179) 100%, rgb(100,129,173) 61%);

  background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(1, rgb(86,123,179)),
	  color-stop(0.61, rgb(100,129,173))
  );
}

#headerDiv p{
margin:10px;
}
