// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content{
min-height:500px;
}

#tasksList{
margin-top:100px;
}

#userData{
margin:10px 0 50px 0;
}

#array{
text-decoration:none;
}

#footer{
padding:20px;
text-align:right;
font-weight:bold;
}