// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content{
min-height:500px;
}

#ProjectsAndList{
float: left;
width: 30%;
margin-right:100px;
}

#projects{
border-bottom: 1px solid black;
}

#tasksList{
}

#tasks{
width: 40%;
position:relative; 
display:inline-block;
margin: 0 100px;
}




#userData{
text-align:right;

}
