// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content{
min-height:500px;
}

#projects{
float: left;
width: 30%;
border: 2px dashed black;
position:relative; 
}

#projects form{
display:inline;
}

#projects a{
text-decoration:none;
color:black;

}

#tasks{
float: right;
width: 40%;
border-top: 2px dashed black;
border-right: 2px dashed black;
border-bottom: 2px dashed black;
position:relative; 
}

#tasksList{
position:relative; 
}

#projectSettings{
margin-left:50px;
display:inline;
}
