// Place all the styles related to the Project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#projects form{
display:inline;
}

#projects a{
text-decoration:none;
color:black;
}

#projectSettings{
display:inline;
float: right;
}
