// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#loginScreen{
margin: 100px auto 0;
text-align:center;

}

#signinDiv{
margin:220px auto;

}
