// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#completedTasks{
margin-top:100px;
}

#taskName{
font-size:14px;
}

#whoseTask{
font-size:11px;
}

#tasksCreater{
font-size:11px;
color:red;
}

#searchUser{
margin:100px auto;
text-align:center;
}

#findedUser{
text-align:center;
font-size:16px;
font-weidht:bold;
}
