// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#searchUser{
margin:100px auto;
text-align:center;
}

#findedUser{
text-align:center;
font-size:16px;
font-weidht:bold;
}