// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#signupScreen{
text-align:center;
margin:100px auto;
}

#signupScreen,#signinDiv{
input[type="password"], input[type="email"], input[type="text"]{
font-size:16px;
}
} 
