%div{id:"project<%= id%>"}
  %a.span-7{href:"#/projects/<%= id %>", class:"info", style:"display:block;"}
    %span.likeA <%= name%>
  .span-1.last
    %input.b-dropdown-helper{:hidden => "hidden", :name => "dropdowns", :type => "radio", id:"DropdownProj<%= id %>"}
    %span.b-dropdown
      %label.b-dropdown-handle{:for => "DropdownProj<%= id %>"} +
      
      %span.b-dropdown-popup
        %span.b-dropdown-popup-in
          %span.b-dropdown-popup-inin{style:"z-index:9;"}
            %a{href:"#/projects/<%= id%>/edit", class:"b-dropdown-link think-link", id:"edit_link"} Edit
            %a{href:"#/projects/<%= id %>/destroy", method: :delete, class:"b-dropdown-link think-links delete-project",id:"plusPr<%=id%>"} Delete
            %a{href:"projects/<%= id %>/share", class:"b-dropdown-link think-link"}Share
