<!DOCTYPE html>
<html>
<head>
  <title>TodoList</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<div class=headerDiv>
<p>Todo list</p>
</div>
</header>

<div id="content">
<%= yield %>
</div>

<footer>
<span>made by Evgeniy aka Fantaz1 Zabolotniy</span>
</footer>

</body>
</html>
